h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0.75em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin: 0;
}

.card__title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.67em 0;
}
.card__details {
  font-size: 0.73rem;
  line-height: 1.6;
  letter-spacing: 1px;
  color: $tWhite;
}

.card__main {
  margin-bottom: 5.67em;
}
.card__btn {
  text-decoration: none;
  background: $background;
  padding: 0.6em 1em;
  border-radius: 20px;

  &--orange {
    color: $orange;
  }

  &--cyan {
    color: $cyan;
  }

  &--dark {
    color: $dark;
  }

  &:hover,
  &:focus {
    background: none;
    border: 1px solid $tWhite;
    color: $background;
  }
}
